# Working with DataFrames & Series - indexes

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                      title  year
0           Ankara ekspresi  1952
1  Ans Vaterland, ans teure  1915
2               Miss Mohini  2002
3             La vera madre  1999
4              O Amerikanos  1993

In [7]:
%%time
cast = pd.read_csv('data/cast.csv')
cast.head()

Wall time: 8.17 s

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [2]:
# indexes are better if they are ordered
# index takes time to build but after that it operates much faster
# when I do this Python uses a different method of finding -does not do it
# 3.7 million times

# Problems

#### 1. Plot the number of films released each decade over time

#### 2. How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 2000's?

#### 3. In the 2000's decade taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 4?

#### 4. Plot the fraction of actor roles relative to total roles over time, hint you may need to adjust the ylim to get a meaningful plot

#### 5. Plot the fraction of supporting roles (n = 2) for actors over time

#### 6. Plot the fraction of roles n = 1,2, or 3 over time. Each should be a separate line

#### 7. When are Tom Cruise movies typically released (month)?